{
  "env": {
    "ui": {
      "presets": [
        "@babel/react",
        "@babel/flow",
        ["@babel/env",{
          "targets": {
            "browsers": [
              "last 5 versions",
              "FireFox >= 44",
              "Safari >= 7",
              "Explorer 11",
              "last 4 Edge versions"
            ],
            // "loose": true
          }
        }]
      ],
      "plugins": [
        "react-hot-loader/babel",
        "@babel/transform-runtime",
        "@babel/proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        // "@babel/transform-decorators-legacy",
        "@babel/syntax-dynamic-import",
        "emotion"
      ]
    },
    "test": {
      "presets": [["@babel/env", {
        "targets": {
          "node": "6.10"
        }
      }], "@babel/flow", "@babel/react"],
      "plugins": [
        "@babel/proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "babel-plugin-dynamic-import-node",
        "emotion"
      ]
    },
    "testOldEnv": {
      "presets": [ "es2015-node4", "@babel/flow"],
      "plugins": [
        "@babel/proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "registry": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": "6.10"
          }
        }], "@babel/flow"],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/proposal-class-properties"
      ]
    },
    "registry-docker": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": "10"
          }
        }], "@babel/flow"],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/proposal-class-properties"
      ]
    },
    "development": {
      "presets": ["@babel/flow"],
      "plugins": ["flow-runtime"]
    }
  }
}
